@page
@model HistoryHub.Pages.EditorAccess.Timelines.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Timeline[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Timeline[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Timeline[0].CreateDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Timeline[0].NumberOfFavorite)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Timeline[0].Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Timeline[0].CreatedByNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Timeline) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreateDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfFavorite)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedByNavigation.Email)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.TimelineId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.TimelineId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.TimelineId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
