@page
@model HistoryHub.Pages.MemberAccess.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Quiz[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quiz[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quiz[0].MaxScore)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quiz[0].NumberOfFeedback)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quiz[0].NumberOfFavorite)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quiz[0].NumberOfQuestion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quiz[0].Timeline)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Quiz) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaxScore)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfFeedback)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfFavorite)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfQuestion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Timeline.Description)
            </td>
            <td>
                <a asp-page="./Details" asp-route-id="@item.QuizId">Details</a> |
                <a asp-page="./Quiz" asp-route-id="@item.QuizId">Do Quiz</a>
            </td>
        </tr>
}
    </tbody>
</table>
