@page
@model HistoryHub.Pages.EditorAccess.Favorites.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Favorite[0].Quiz)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Favorite[0].Timeline)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Favorite[0].User)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Favorite) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Quiz.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Timeline.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.Email)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.FavoriteId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.FavoriteId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.FavoriteId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
