@page
@model HistoryHub.Pages.SystemAccess.Figures.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Figure</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Figure.FigureName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Figure.FigureName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Figure.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Figure.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Figure.Image)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Figure.Image)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Figure.CreateDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Figure.CreateDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Figure.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Figure.Status)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Figure.CreateByNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Figure.CreateByNavigation.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Figure.Period)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Figure.Period.Description)
        </dd>
    </dl>
</div>
<div style="margin-top: 15px">
    <a style="background-color: #66b3ff;
                    color: #ffffff;
                    padding: 10px 20px;
                    border-radius: 3px;
                    text-decoration: none;" asp-page="./Edit" asp-route-id="@Model.Figure?.FigureId">Edit</a> |
    <a style="  background-color: forestgreen;
       color: #ffffff;
       padding: 10px 20px;
       border-radius: 3px;
       text-decoration: none;" asp-page="./AdminManageFigures">Back to List</a>
</div>
