@page
@model HistoryHub.Pages.EditorAccess.Periods.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Period</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Period.PeriodName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Period.PeriodName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Period.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Period.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Period.CreateDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Period.CreateDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Period.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Period.Status)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Period.CreateByNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Period.CreateByNavigation.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Period.Timeline)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Period.Timeline.Description)
        </dd>
    </dl>
</div>
<div style="margin-top: 15px">
    <a style="background-color: #66b3ff;
                    color: #ffffff;
                    padding: 10px 20px;
                    border-radius: 3px;
                    text-decoration: none;" asp-page="./Edit" asp-route-id="@Model.Period?.PeriodId">Edit</a> |
    <a style="  background-color: forestgreen;
       color: #ffffff;
       padding: 10px 20px;
       border-radius: 3px;
       text-decoration: none;" asp-page="./EditorManagePeriods">Back to List</a>
</div>
